.header__container {
  position: relative;
  display: flex;
  z-index: 999;
}

.header {
  width: 100%;
  padding: 0 25px;
  flex-direction: row;
  align-items: center;
  white-space: nowrap;
  background-color: #1976d2;
  height: 64px;
  position: fixed;
  top: 0;
}

.header__home {
  display: flex;
  flex: 1;
  justify-content: flex-end;

  a {
    text-decoration: none;
    color: #fff;
    letter-spacing: 1px;
  }
}
