/* card box shadow */
$card-box-shadow: 0 2px 2px rgba(10, 16, 20, 0.12), 0 0px 2px 0px rgba(10, 16, 20, 0.14);
$card-box-shadow-hover: 0 5px 5px rgba(10, 16, 20, .24), 0 0 5px rgba(10, 16, 20, .12);

$font-light: barlow-light;
$font-regular: barlow-regular;
$font-medium: barlow-medium;
$font-semi-bold: barlow-semi-bold;
